/*CABECERA*/
.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	width: 100%;
	background-color: #006D9D;
	font-family: 'Raleway', sans-serif;
  font-size: 18px;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
	}

	.compartir,
	.preview,
	.print {
		width: 50px;
		padding: 10px;
	}

.logo-cabecera img {
	width: 30%;
	height: 30%;
	padding-top: 2px;
	max-height: 100px;
}


.menu {
	display: flex;
  justify-content: space-around;
	align-items: center;
	padding-right: 20px;
	list-style-type: none;


}

}
.persoalizatucv {

}
@media all and (max-width:420px) {
    .rayas {
        display: inline-block;
