* {
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;

}


.compartir,
.preview,
.print {
	width: 20px;
}
.personalizatucv {
	width: 100%;
	margin-top: 100px;
	display: flex;
	border-radius: 2px;
	justify-content: center;
	align-items: center;
	text-align: center;
}
/*Pagina principal*/
.background {
	height: 100vh;
	background-image: url(../images/photo-1434626881859-194d67b2b86f.png);
	background-repeat: no-repeat;
	background-position: center 10px;
	background-size: cover;
}
.buttonintro {
	width: 50px;
	height: 100px;
	padding-top: 40px;
	padding-left: 75%;
	color: #555555;
	font-size: 30px;
}


/*PREVIO CV*/
.cv {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	border: 1px solid #262626;
	width: 95%;
	max-width: 600px;
	margin: auto;
	font-size: 15px;

}
.prev-info-personaldates {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px;
	background-color: #f2f2f2;
}
.prev-photo {
	margin-right: 10px;
}
.prev-photo img{
	border-radius: 50%;
}
.prev-description, .prev-education, .prev-professionalexperience, .prev-skills, .prev-interestdetails {
	padding: 10px;
}
.prev-titles {
	font-size: 15px;
	font-weight: bold;
}


/*FORMULARIO*/

.total-form {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	max-width: 480px;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 15px;
	margin-top: 78px;



}

.input-form {
	padding: 5px 0;
}

.input-form input {
	width: 100%;
	padding: 5px;
	height: 30px;
	border-radius: 5px;
	border-width: 2px;
	border-style: inset;
	font-size: 14px;
}

.input-form input[type="file"]{
	border: 0;
}

.input-form textarea {
	width: 100%;
	border: 0;
	padding: 2px 5px;
	border-radius: 5px;
	border-width: 2px;
	border-style: inset;
	font-size: 14px;
}
.input-form label {
	display: flex;
	margin-bottom: 10px;
	/*font-weight: bold;*/
}

.input-form-close {
	display: flex;
	justify-content: flex-end;
}




.input-form-close input[type="button"]{
	position: absolute;
	top:  10px;
	right:  12px;
	width: 30px;
	height: 30px;
	background-color: #fcac0c;
	color: #fff;
	font-size: 16px;
	border: none;
}
.input-form-open {
	position: relative;
	display: flex;
	justify-content: flex-end;

}
.input-form-open input[type="button"]{
	width: 170px;
	height: 35px;
	background-color: #fcac0c;
	color: #fff;
	font-size: 16px;
	border: none;
	/*font-weight: bold;*/
}
 fieldset {
	 margin-top: 15px;
 }
/*DATOS PERSONALES*/

.personaldetails-section,
.job-section,
.education-section,
.skills-section,
.details-section {
	background-color: #fcf0c8;
	padding: 63px 15px 15px;
	position: relative;
	border-radius: 5px;

}
.personaldetails-section legend,
.job-section legend,
.education-section legend,
.skills-section legend,
.details-section legend {
	background-color: #911f27;
	padding: 15px;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-radius: 1px;
	/*font-weight: bold;*/
}

.boxfieldsetdetails,
.boxfieldsetjob,
.boxfieldseteducation,
.boxfieldsetskills,
.boxfieldsetother {
	display: flex;
	flex-direction: column;
	display: none;
}

/*EXPERIENCIA LABORAL*/
/*EDUCACIÓN*/

.date {
	display: flex;
	justify-content: flex-start;
	width: 100%;
}
.initialmonth,
.finalmonth {
	display: flex;
	flex-direction: column;
	width: 35%;

}
.month,
.years,
.type-studies {
	width: 60%;
	font-size: 16px;
}


.initialyear,
.finalyear {
	display: flex;
	flex-direction: column;
	width: 35%;
}


 /*BOTON FOTO
.photo input[type="file"]{
	border: O;
	opacity: 0;
	op
	position: relative;
	background-image: url(../images/drag2.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
}
.photo {
	position: relative;
	background-image: url(../images/drag2.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}*/






/*FOOTER*/
.footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 70px;

	background-color: #240406
}
.copy {
	color: #FCF0C8;
	}

.up-button a {
	background-image: url(../images/up-button.png);
	overflow: hidden;
	display: block;
	background-size: 40px 40px;
	padding-top: 40px;
	height: 0;
	width: 40px;
}

.boxfieldsetjob {
	display: none;
}

/*MEDIAQUERIES*/
@media all and (min-width: 700px) {
	.cv {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		flex-wrap: wrap;
		height: 100%;

	}
	.prev-info-personaldates {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 30%;
		flex-shrink:1;
	}
	.prev-description {
		width: 70%;
	}
	.prev-content {
		display: flex;
		flex-direction: row-reverse;
		height: 100vh;
		width: 100%;
	}
	.prev-info-experience {
		width: 70%;
	}
	.prev-info-extra {
		width: 30%;
		background-color: #f2f2f2;
	}

}

@media all and (min-width: 900px) {
.body {
	display: flex;
	flex-wrap: wrap;
}
.header {
	width: 100%;
}
.text-principal {
	width: 100%;
}
.forms {
	width: 45%;
}
.cv{
	width: 55%;
	margin-top: 110px;
	margin-bottom: 20px;

}
.footer {
	width: 100%;
}
}
