@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

* {
	box-sizing: border-box;
	font-family: 'Rubik', sans-serif;
}

body {
	background-color: white;
	display: flex;
	flex-direction: column;
}

.principal-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.principal-title {
	width: 100%;
	text-align: center;
	font-family: 'Indie Flower';
	color: #FFAB33;
	font-size: 3em;
	font-weight: bold;
	margin-top: 170px;
	display: flex;
	justify-content: center;
}
.personalizar {
	display: flex;
	flex-direction: row;
	border: 3px solid #006D9D;
	border-radius: 15px;
	justify-content: center;
	align-items: center;

}
.personalizar li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
	text-align: center;
	font-weight: bold;
}
.personalizatucv {
	width: 100%;
	position: relative;
	display: flex;
	padding: 15px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	justify-content: center;
}
.personalizar img {
	padding: 10px;
	height: 90px;
	width: 90px;
}
/*Pagina principal*/
.background {
	height: 100vh;
	background-image: url(../images/background3.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	font-family: 'Indie Flower';
	font-size: 4em;
}
li {
	list-style: none;
}
.text {
	color: white;
	text-decoration: none;
}
.text:hover {
	font-weight: bold;
	color: #8b0061;
}
.principal-logo {
	border-bottom: 5px solid white;
	margin-bottom: 50px;
}
.principal-logo img {
	width: 250px;
}
.principal-logo a {
	text-decoration: none;
}
/*FIN PÁGINA INICIO*/

/*PREVIO CV*/
.cv {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	width: 95%;
	max-width: 600px;
	margin: auto;
	font-size: 15px;
	line-height: 1.5;
	background-color: #FFFFE2;
	height: auto;
	margin-bottom: 30px;
	box-shadow: 4px 4px 1px #B4B6B2;
}
.prev-info-personaldates {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	background-color: #ffe7b9;
}
.prev-photo {
	width: 30%;
	min-width: 120px;
}
.prev-photo img{
	border-radius: 50%
}
.prev-list-personal{
	width: 65%;
}
.cut-url{
	overflow-wrap: break-word;
	word-wrap: break-word;
}
.prev-description,
.prev-education,
.prev-professionalexperience,
.prev-skills,
.prev-interestdetails {
	padding: 10px;
}
.prev-titles {
	font-size: 15px;
	font-weight: bold;
	margin-top: 0px;
	width: 100%;
	text-align: left;
}
.camps-titles{
	font-weight: bold;
	display: inline;
}
/*FORMULARIO*/
.forms {
	width: 100%;
}
.total-form {
	font-family: 'Rubik', sans-serif;
	max-width: 480px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 15px;
	margin: auto;
	padding-bottom: 50px;
}

.input-form {
	padding: 10px 15px;
}
.input-form.skills label{
	margin: 10px 0;

}

.input-form input {
	width: 100%;
	padding: 5px;
	height: 30px;
	border-radius: 5px;
	border-width: 2px;
	border-style: inset;
	font-size: 14px;
}
.input-form input[type="file"]{
	border: none;
	width: auto;
	height: auto;
	padding:0;
}
::-webkit-file-upload-button{
	height: 40px;
	background-color: #fcac0c;
	color: #fff;
	border: none;
	cursor: pointer;
	box-shadow: 1px 1px 1px #888888;
	font-size: 12px;
}

.input-form textarea {
	width: 100%;
	border: 0;
	padding: 2px 5px;
	border-radius: 5px;
	border-width: 2px;
	border-style: inset;
	font-size: 14px;
}
.input-form label {
	display: flex;
	margin-bottom: 10px;
}

/*BOTONES FORMULARIO*/
.btnSection {
	position:absolute;
	width: 75%;
	top: 5px;
	right: 15px;
	width: 35px;
	height: 35px;
	background-position: center center;
	background-size: cover;
	background-color: transparent;
	border: none;
}

.btnStyles {
	background-image: url('../images/style.svg');
}
.btnPersonalData {
	background-image: url('../images/user.svg');
}
.btnJob {
	background-image: url('../images/suitcase.svg');
}
.btnEducation {
	background-image: url('../images/education.svg');
}
.btnSkills {
	background-image: url('../images/skills.svg');
}
.btnOtherDetails {
	background-image: url('../images/id-card.svg');
}

.btnMinus {
	background-image: url('../images/remove.svg');
}

.input-form-buttoms {
	position: relative;
	display: flex;
	justify-content: center;
	padding: 15px;
}
.input-form-buttoms input[type="button"],
.input-form-buttoms input[type="reset"]{
	width: 30%;
	height: 35px;
	background-color: #fcac0c;
	color: #fff;
	border: none;
	margin: 0 8px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #888888;
}
fieldset {
	margin-top: 15px;
}

/*SELECCION DE COLORES*/
.select-color,
.select-font {
	padding: 15px;
}

.colors {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 10px;
}
.color-1,
.color-2,
.color-3 {
	width: 40px;
	height: 40px;
}
.color-1 {
	background-color: #9cb7e3;
}
.color-2 {
	background-color: #ca7544;
}
.color-3 {
	background-color: #c4d468;
}
.theme1{
	background-color: #9cb7e3;
}
.theme2{
	background-color: #ca7544;
}
.theme3{
	background-color: #c4d468;
}
/*SELECCION DE FUENTES*/
.fonts {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 10px;
}
.font-1,
.font-2,
.font-3 {
	width: 50px;
	height: 40px;
}
.font-1 {
	background-image: url(../images/Playfair-Display.png);
	background-size: cover;
}
.font-2 {
	background-image: url(../images/Crimson.png);
	background-size: cover;
}
.font-3 {
	background-image: url(../images/Josefin.png);
	background-size: cover;
}
.font1 {
	font-family: 'Playfair Display', serif;
}
.font2 {
	font-family: 'Crimson Text', serif;
}
.font3 {
	font-family: 'Josefin Slab', serif;
}
/*DATOS PERSONALES*/

.section {
	background-color: #FFFFE3;
	padding: 46px 0 0;
	position: relative;
	border-radius: 15px;
	box-shadow: 4px 4px 1px #B4B6B2;
}
.section legend {
	background-color: #006D9D;
	padding: 15px;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-radius: 15px;
	cursor: pointer;
}

/*NETWORKS*/
.networks label {
	display: none;
	margin-bottom: 10px;
}
.socialNetworks {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}
.networks {
	display: flex;
	flex-direction: column;
}
.twitterNetwork,
.linkedinNetwork {
	display: flex;
	width: 85%;
	align-self:flex-end;
	margin-bottom: 20px;

}
.twitterLogo {
	width: 30px;
	height: 30px;
	position: absolute;
	left: 22px;
	background-image: url('../images/twitter.svg');
}
.linkedinLogo {
	width: 30px;
	height: 30px;
	position: absolute;
	left: 22px;
	background-image: url('../images/linkedin.svg');
}


/*HABILIDADES*/

.progress-bar {
	width: 100px;
	height: 10px;
	background: #fff;
	border-radius: 15px;
	margin: 20px;
	overflow: hidden;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.hidden {
	display: none;
}
.progress-bar__item {
	border-radius: inherit;
	height: inherit;
background: rgba(241,231,103,1);
background: -moz-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
background: -webkit-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: -o-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: -ms-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
	width: 0%;
	transition: width ease 1s;
}

.box-skills {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.skill1 {
	text-align: center;
}

#set-progress {
	margin-top: 10px;
	line-height: 20px;
}


/*EXPERIENCIA LABORAL*/

/*EDUCACIÓN*/

.date {
	display: flex;
	justify-content: flex-start;
	width: 100%;
}
.initialmonth,
.finalmonth {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding: 0;

}
.month,
.years,
.type-studies {
	width: 60%;
	font-size: 16px;
}


.initialyear,
.finalyear {

	display: flex;
	flex-direction: column;
	width: 50%;
	padding:0;
}



/*MEDIAQUERIES*/
@media all and (min-width: 700px) {
	.title {
		font-size: 6em;
	}

	.principal-logo img {
		width: 400px;
	}

	.principal-title {
		font-size: 4em;
	}
	.personalizar {
		max-width: 470px;
	}
	.personalizar img {
		height: 125px;
		width: 125px;
	}
	.prev-photo {
		width: 20%;
	}
	.prev-list-personal{
		width: 70%;
	}
}

@media all and (min-width: 900px) {

	.body {
		display: flex;
		flex-wrap: wrap;
	}
	.title {
		font-size: 7em;
	}
	.principal-logo img {
		width: 500px;
	}
	.principal-content {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.text-principal {
		width: 100%;
	}
	.forms {
		width: 45%;
	}
	.cv{
		width: 55%;
		margin-top: 30px;
		margin-bottom: 20px;
	}
	.prev-photo {
		width: 24%;
	}
	.prev-list-personal{
		width: 74%;
	}
}
